[submodule "blog_backend/3rdparty/jwt-cpp"]
    path = blog_backend/3rdparty/jwt-cpp
    url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "blog_backend/3rdparty/libbcrypt"]
    path = blog_backend/3rdparty/libbcrypt
    url = https://github.com/trusch/libbcrypt.git
